#scroll_navi {
	position: fixed;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	z-index: 5;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	li {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid $pageScrollBl;
		background: $pageScrollBl;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;
		text-indent: 9999px;
	}

	li.on {
		text-indent: 0px;
		justify-content: center;
		width: 50px;
		height: 50px;
		font: 12.8px/50px $ikeaFontKo;
		color: $fontColorW;
		border: 1px solid $fontColorW;
		text-align: center;
		background: radial-gradient(circle, #000 4%, #000 68.99%, #fff 70%, #fff 100%);
	}
}

@media screen and (max-width: $tablet) {
	#scroll_navi {
		display: none;

		li {
			display: none;
		}
	}
}

@media screen and (max-width: $mobile) {
	#scroll_navi {
		display: none;
	}
}

#scroll_navi.w {
	position: fixed;
	top: 75%;
	right: 30px;
	transform: translateY(-50%);
	z-index: 5;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	li {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: $pageScrollMain;
		margin-bottom: 20px;
		cursor: pointer;
		transition: 0.5s;
		text-indent: 9999px;
	}

	li.on {
		text-indent: 0px;
		justify-content: center;
		width: 50px;
		height: 50px;
		font: 12.8px/50px $ikeaFontKo;
		color: $fontColorW;
		text-align: center;
		background: $pageScrollMain;
	}
}
