#notice {
	width: 100vw;
	height: 750px;
	background: white;
	padding: 0px 10vw 0px;
	margin-bottom: 150px;

	.noticeContainer {
		width: 100%;
		height: 100%;
		display: flex;
		padding: 96px 0px 96px;

		.noticeWrap {
			width: 100%;
			height: 100%;

			// left part
			&:nth-of-type(1) {
				flex: 0.5;
				width: 100%;
				height: 100%;
				background: white;
				padding-top: 60px;

				// section notice title
				h4 {
					font: bold 70px/1 $ikeaFontKo;
					color: $ikeaBl;
					margin-bottom: 70px;
					animation-duration: 0.5s;
					animation: slide 1s ease-out;

					@keyframes slide {
						from {
							margin-left: -400px;
							opacity: 0;
						}
						to {
							left: 400px;
							opacity: 1;
						}
					}

					@keyframes slideBack {
						from {
							left: 400px;
							opacity: 1;
						}
						to {
							margin-left: -400px;
							opacity: 0;
						}
					}
				}

				// go button start
				.goBtn {
					font: 18px/1 $ikeaFontKo;
					color: $ikeaBl;
					margin-bottom: 150px;
					cursor: pointer;

					i {
						transition: 0.5s;
						&:hover {
							transform: translateX(5px);
						}
					}
				}

				// icon icon start
				.iconWrap {
					font: 26px/1 $ikeaFontKo;
					color: $ikeaBl;
					display: flex;
					gap: 30px;

					i {
						cursor: pointer;
					}

					// icon icon container hover
					span {
						// facebook icon
						&:nth-of-type(1):hover {
							color: rgb(16, 16, 158);
						}

						// youtube icon
						&:nth-of-type(2):hover {
							color: rgb(213, 5, 32);
						}

						// instagram icon
						&:nth-of-type(3):hover {
							color: rgb(208, 2, 136);
						}

						// blog icon
						&:nth-of-type(4):hover {
							color: rgb(8, 113, 5);
						}
					}
				}
			}

			// right part
			&:nth-of-type(2) {
				flex: 1;
				width: 100%;
				height: 100%;
				display: flex;
				flex-wrap: wrap;

				.contentWrap {
					display: flex;
					width: 50%;
					height: 50%;
					background: white;
					display: flex;
					flex-direction: column;
					padding: 50px;
					padding-top: 60px;
					border-left: 1px solid $grey;

					// topic
					.topic {
						width: 100%;
						font: 16px/1 $ikeaFontKo;
						color: #1188bb;
						margin-bottom: 20px;

						p {
							cursor: pointer;
						}
					}

					// title
					.titleWrap {
						width: 100%;
						display: flex;
						flex-wrap: nowrap;
						display: flex;
						justify-content: space-between;
						margin-bottom: 20px;
						cursor: pointer;

						h2 {
							width: 70%;
							font: bold 24px/1.5 $ikeaFontKo;
							color: $ikeaBl;
							text-align: justify;
							word-break: break-all;

							&:hover {
								text-decoration-line: underline;
								text-decoration-color: $ikeaBl;
								text-decoration-thickness: 2px;
								text-underline-offset: 5px;
								text-underline-position: under;
							}
						}

						p {
							font: 16px/2.5 $ikeaFontKo;
							color: $ikeaBl;
						}
					}

					// content
					.content {
						width: 100%;
						margin-bottom: 20px;
						text-align: justify;
						word-break: break-all;

						p {
							font: 18px/1.6 $ikeaFontKo;
							color: $ikeaBl;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#notice {
		height: 744px;
		padding: 0px 5vw 0px;
		margin-bottom: 320px;

		.noticeContainer {
			padding: 96px 0px 96px;

			.noticeWrap {
				&:nth-of-type(1) {
					flex: 0.55;
					padding-top: 30px;

					h4 {
						font: bold 56px/1 $ikeaFontKo;
						margin-bottom: 50px;
					}

					.goBtn {
						font: 14.4px/1 $ikeaFontKo;
						margin-bottom: 48px;
					}

					.iconWrap {
						font: 24px/1 $ikeaFontKo;
						gap: 20px;
					}
				}

				&:nth-of-type(2) {
					flex: 1;
					display: block;
					flex-direction: column;

					.contentWrap {
						width: 100%;
						height: auto;
						flex-direction: column;
						padding: 10px;
						padding-top: 30px;
						border-left: 1px solid $grey;
						padding-left: 40px;

						.topic {
							width: 100%;
							font: 12.8px/1 $ikeaFontKo;
							color: #1188bb;
							margin-bottom: 20px;
						}

						.titleWrap {
							width: 100%;
							margin-bottom: 40px;

							h2 {
								font: bold 19.2px/1.5 $ikeaFontKo;
								color: $ikeaBl;
							}

							p {
								font: 12.8px/2.5 $ikeaFontKo;
								color: $ikeaBl;
							}
						}

						.content {
							width: 100%;
							margin-bottom: 20px;
							text-align: justify;
							word-break: break-all;

							p {
								font: 14.4px/1.6 $ikeaFontKo;
								color: $ikeaBl;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#notice {
		height: 744px;
		padding: 0px 5vw 0px;
		margin-bottom: 200px;

		.noticeContainer {
			padding: 35px 0px 35px;
			display: block;
			.noticeWrap {
				&:nth-of-type(1) {
					flex: 0.55;
					height: auto;
					padding-top: 0px;
					background: blue;

					h4 {
						width: 50%;
						font: bold 49px/1 $ikeaFontKo;
						margin-bottom: 0px;
						float: left;
					}

					.goBtn {
						width: 50%;
						font: 12.6px/4 $ikeaFontKo;
						margin-bottom: 20px;
						float: right;
						text-align: end;
					}

					.iconWrap {
						display: none;
					}
				}

				&:nth-of-type(2) {
					.contentWrap {
						padding: 0px;
						padding-top: 30px;
						border-left: none;
						padding-left: 0px;

						.topic {
							font: 11.2px/1 $ikeaFontKo;
						}

						.titleWrap {
							margin-bottom: 20px;

							h2 {
								font: bold 16.8px/1.8 $ikeaFontKo;
								color: $ikeaBl;
							}

							p {
								font: 11.2px/2.5 $ikeaFontKo;
								color: $ikeaBl;
							}
						}

						.content {
							width: 100%;
							margin-bottom: 20px;
							text-align: justify;
							word-break: break-all;

							p {
								font: 12.6px/1.5 $ikeaFontKo;
								color: $ikeaBl;
							}
						}
					}
				}
			}
		}
	}
}
