.community {
	width: 100vw;
	min-height: calc(100vh - 300px);

	.titTop {
		h1 {
			padding: 250px 15vw 120px;
			text-align: center;
			font: bold 48px/1 $ikeaFontKo;
			color: $fontColorBl;
		}
	}
	.searchBarWrap {
		width: 100%;
		height: 109px;
		display: flex;
		justify-content: center;
		gap: 30px;
		align-items: center;
		margin-bottom: 30px;
		flex-direction: column;

		.searchBarTop {
			display: flex;
			gap: 15px;
			font: 16.2px/41.39px $ikeaFontKo;
			color: $fontColorBl;

			input[type='checkBox'] {
				cursor: pointer;
			}
			label {
				font: 16.2px/41.39px $ikeaFontKo;
				color: $fontColorBl;
				margin-left: -5px;
				cursor: pointer;
			}

			.dateInput {
				width: 151px;
				height: 41.39px;
				padding: 5.4px 10.8px;
				border: none;
				border-bottom: 1px solid $border;
				font: 16.2px/41.39px $ikeaFontKo;
				color: $fontColorBl;
			}
			.dateBtnWrap {
				display: flex;
				gap: 10px;

				button {
					width: 87px;
					height: 41px;
					background: none;
					border: 1px solid $border;
					border-radius: 5px;
					font: 16.2px/41.39px $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;
				}
			}
		}

		.searchBarBottom {
			display: flex;
			gap: 30px;

			.searchTopic {
				width: 117px;
				height: 41.39px;
				border: none;
				border-bottom: 1px solid $border;
				font: 18px/1 $ikeaFontKo;
				color: $fontColorBl;
				padding: 5.4px;
				cursor: pointer;

				&:focus {
					outline: none;
					box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
				}
			}

			.searchWhat {
				width: 270px;
				height: 41.39px;
				font: 18px/1 $ikeaFontKo;
				color: $fontColorBl;
				padding: 5.4px 18px 4.5px 10.8px;
				cursor: pointer;
				border: none;
				border-bottom: 1px solid $border;

				&:focus {
					outline: none;
					box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
				}
			}

			input {
				width: 333px;
				height: 41.39px;
				border: none;
				border-bottom: 1px solid $border;
				font: 18px/1 $ikeaFontKo;
				color: $fontColorBl;
				padding: 5.4px 45px 4.5px 10.8px;
				position: relative;

				&::placeholder {
					color: $fontColorBl;
				}

				&:focus {
					outline: none;
					box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
				}
			}

			.fa-magnifying-glass {
				position: relative;
				right: 0;
				font: 18px/41.39px $ikeaFontKo;
				color: $fontColorGrC;
				cursor: pointer;

				transform: translate(-350%, 60%);
			}
		}
	}

	.btnContainer {
		width: 100%;
		height: 67.38;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 36px 15vw 30px;

		.writeBtn {
			width: 108px;
			height: 41.61px;
			background: $tableBtn;
			border-radius: 5px;
			padding: 9px 13.5px;
			font: 15px/1 $ikeaFontKo;
			color: $fontColorW;
			transition: 0.5s;
			border: none;
			cursor: pointer;

			&:hover {
				background: $hoverBtn;
				color: $fontColorW;
			}
		}

		.rightBtnWrap {
			display: flex;
			gap: 30px;
			align-items: center;

			p {
				font: 15px/1 $ikeaFontKo;
				color: $fontColorBl;

				span {
					font: bold 15px/1 $ikeaFontKo;
					color: $fontColorBl;
				}
			}

			.arrayBtn {
				width: 108px;
				height: 41.61px;
				font: 15px/1 $ikeaFontKo;
				color: $fontColorBl;
				cursor: pointer;
				border: none;
				text-align: center;

				&:hover,
				&:focus {
					outline: none;
					box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
				}
			}
		}
	}
	.horzienLine {
		height: 1px;
		width: 70%;
		margin: 0px auto;
		margin-bottom: 15px;
		background: $border;
	}
	.horzienLine2 {
		height: 1px;
		width: 70%;
		margin: 0px auto;
		margin-bottom: 150px;
		background: $border;
	}
	.listWrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		gap: 40px;
		padding: 36px 15vw 50px;

		.list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: calc(100% / 4 - 30px);
			height: 300px;
			border: 1px solid $grey;
			flex-direction: column;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
			}

			h3 {
				font: bold 20px/1 $ikeaFontKo;
				padding: 50px 50px 0px;
				color: $fontColorBl;
			}

			h2 {
				width: 100%;
				text-align: justify;
				word-break: break-all;
				font: bold 20px/1.5 $ikeaFontKo;
				padding: 20px 50px 14.4px;
				color: $fontColorBl;
				margin-bottom: 15px;
			}

			.bottomWrap {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				padding: 0px 0px 50px 50px;
				p {
					font: 14px/1 $ikeaFontKo;
					color: $fontColorBl;
					&::after {
						content: '|';
						margin-right: 10px;
						margin-left: 10px;
					}

					&:nth-of-type(2) {
						&::after {
							content: '';
							margin-right: 10px;
							margin-left: 10px;
						}
					}
					.fa-eye {
						margin-right: 8px;
					}
				}
			}
		}
	}
}

.recentArticleWrap {
	width: 170px;
	height: 600px;
	right: 10px;
	top: 25%;
	position: fixed;
	z-index: 55;
	border: 1px solid $grey;
	flex-direction: column;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
	padding: 20px;
	font: 15px/1 $ikeaFontKo;
	color: $fontColorBl;

	.titWrap {
		display: flex;
		justify-content: space-between;

		h3 {
			font: bold 20px/1 $ikeaFontKo;
			color: $fontColorBl;
		}

		.closeBtn {
			border: none;
			background: transparent;
			font: 20px/1 $ikeaFontKo;
			margin-bottom: 15px;
		}
	}

	.btnWrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.prevBtn {
			width: 50%;
			background: transparent;
			margin-top: 15px;
			border: 1px solid $border;
			cursor: pointer;
		}

		.nextBtn {
			width: 50%;
			background: transparent;
			margin-top: 15px;
			border: 1px solid $border;
			cursor: pointer;
		}
	}

	.recentArticle {
		width: 100%;
		height: 100px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 15px;
		border-bottom: 1px solid $border;

		h4 {
			font: bold 15px/1.5 $ikeaFontKo;
			color: $fontColorBl;
		}

		p {
			font: 15px/1 $ikeaFontKo;
			color: $fontColorBl;
			padding-bottom: 10px;
		}
	}
}

@media screen and (max-width: $tablet) {
	.community {
		width: 100vw;
		min-height: calc(100vh - 400px);

		.titTop {
			h1 {
				padding: 250px 15vw 120px;
				text-align: center;
				font: bold 48px/1 $ikeaFontKo;
				color: $fontColorBl;
			}
		}
		.searchBarWrap {
			width: 100%;
			height: 109px;
			display: flex;
			justify-content: center;
			gap: 30px;
			align-items: center;
			margin-bottom: 30px;
			flex-direction: column;

			.searchBarTop {
				display: flex;
				gap: 15px;
				font: 16.2px/41.39px $ikeaFontKo;
				color: $fontColorBl;

				input[type='checkBox'] {
					cursor: pointer;
				}
				label {
					font: 16.2px/41.39px $ikeaFontKo;
					color: $fontColorBl;
					margin-left: -5px;
					cursor: pointer;
				}

				.dateInput {
					width: 151px;
					height: 41.39px;
					padding: 5.4px 10.8px;
					border: none;
					border-bottom: 1px solid $border;
					font: 16.2px/41.39px $ikeaFontKo;
					color: $fontColorBl;
				}
				.dateBtnWrap {
					display: flex;
					gap: 10px;

					button {
						width: 87px;
						height: 41px;
						background: none;
						border: 1px solid $border;
						border-radius: 5px;
						font: 16.2px/41.39px $ikeaFontKo;
						color: $fontColorBl;
						cursor: pointer;
					}
				}
			}

			.searchBarBottom {
				display: flex;
				gap: 30px;

				.searchTopic {
					width: 117px;
					height: 41.39px;
					border: none;
					border-bottom: 1px solid $border;
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					padding: 5.4px;
					cursor: pointer;

					&:focus {
						outline: none;
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
					}
				}

				.searchWhat {
					width: 270px;
					height: 41.39px;
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					padding: 5.4px 18px 4.5px 10.8px;
					cursor: pointer;
					border: none;
					border-bottom: 1px solid $border;

					&:focus {
						outline: none;
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
					}
				}

				input {
					width: 333px;
					height: 41.39px;
					border: none;
					border-bottom: 1px solid $border;
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					padding: 5.4px 45px 4.5px 10.8px;
					position: relative;

					&::placeholder {
						color: $fontColorBl;
					}

					&:focus {
						outline: none;
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
					}
				}

				.fa-magnifying-glass {
					position: relative;
					right: 0;
					font: 18px/41.39px $ikeaFontKo;
					color: $fontColorGrC;
					cursor: pointer;

					transform: translate(-350%, 60%);
				}
			}
		}

		.btnContainer {
			width: 100%;
			height: 67.38;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 36px 15vw 30px;

			.writeBtn {
				width: 108px;
				height: 41.61px;
				background: $tableBtn;
				border-radius: 5px;
				padding: 9px 13.5px;
				font: 15px/1 $ikeaFontKo;
				color: $fontColorW;
				transition: 0.5s;
				border: none;
				cursor: pointer;

				&:hover {
					background: $hoverBtn;
					color: $fontColorW;
				}
			}

			.rightBtnWrap {
				display: flex;
				gap: 30px;
				align-items: center;

				p {
					font: 15px/1 $ikeaFontKo;
					color: $fontColorBl;

					span {
						font: bold 15px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.arrayBtn {
					width: 108px;
					height: 41.61px;
					font: 15px/1 $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;
					border: none;
					text-align: center;

					&:hover,
					&:focus {
						outline: none;
						box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
					}
				}
			}
		}
		.horzienLine {
			height: 1px;
			width: 70%;
			margin: 0px auto;
			margin-bottom: 35px;
			background: $border;
		}
		.listWrap {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
			gap: 25px;
			padding: 36px 10vw 35px;

			.list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: calc(100% / 2 - 25px);
				height: 250px;
				border: 1px solid $grey;
				flex-direction: column;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
				}

				h3 {
					font: bold 20px/1 $ikeaFontKo;
					padding: 50px 50px 0px;
					color: $fontColorBl;
				}

				h2 {
					font: bold 20px/1.5 $ikeaFontKo;
					padding: 20px 50px 14.4px;
					color: $fontColorBl;
					margin-bottom: 15px;
				}

				.bottomWrap {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					padding: 0px 0px 50px 50px;
					p {
						font: 14px/1 $ikeaFontKo;
						color: $fontColorBl;
						&::after {
							content: '|';
							margin-right: 10px;
							margin-left: 10px;
						}

						&:nth-of-type(2) {
							&::after {
								content: '';
								margin-right: 10px;
								margin-left: 10px;
							}
						}
						.fa-eye {
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.community {
		width: 100vw;
		min-height: calc(100vh - 400px);

		.titTop {
			h1 {
				padding: 250px 15vw 120px;
				text-align: center;
				font: bold 48px/1 $ikeaFontKo;
				color: $fontColorBl;
			}
		}
		.searchBarWrap {
			width: 100%;
			height: 109px;
			display: flex;
			justify-content: center;
			gap: 30px;
			align-items: center;
			margin-bottom: 30px;
			flex-direction: column;

			.searchBarTop {
				display: flex;
				gap: 15px;
				font: 16.2px/41.39px $ikeaFontKo;
				color: $fontColorBl;

				input[type='checkBox'] {
					cursor: pointer;
				}
				label {
					font: 16.2px/41.39px $ikeaFontKo;
					color: $fontColorBl;
					margin-left: -5px;
					cursor: pointer;
				}

				.dateInput {
					width: 151px;
					height: 41.39px;
					padding: 5.4px 10.8px;
					border: none;
					border-bottom: 1px solid $border;
					font: 16.2px/41.39px $ikeaFontKo;
					color: $fontColorBl;
				}
				.dateBtnWrap {
					display: flex;
					gap: 10px;

					button {
						width: 87px;
						height: 41px;
						background: none;
						border: 1px solid $border;
						border-radius: 5px;
						font: 16.2px/41.39px $ikeaFontKo;
						color: $fontColorBl;
						cursor: pointer;
					}
				}
			}

			.searchBarBottom {
				display: flex;
				gap: 30px;

				.searchTopic {
					width: 117px;
					height: 41.39px;
					border: none;
					border-bottom: 1px solid $border;
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					padding: 5.4px;
					cursor: pointer;

					&:focus {
						outline: none;
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
					}
				}

				.searchWhat {
					width: 270px;
					height: 41.39px;
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					padding: 5.4px 18px 4.5px 10.8px;
					cursor: pointer;
					border: none;
					border-bottom: 1px solid $border;

					&:focus {
						outline: none;
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
					}
				}

				input {
					width: 333px;
					height: 41.39px;
					border: none;
					border-bottom: 1px solid $border;
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					padding: 5.4px 45px 4.5px 10.8px;
					position: relative;

					&::placeholder {
						color: $fontColorBl;
					}

					&:focus {
						outline: none;
						box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
					}
				}

				.fa-magnifying-glass {
					position: relative;
					right: 0;
					font: 18px/41.39px $ikeaFontKo;
					color: $fontColorGrC;
					cursor: pointer;

					transform: translate(-350%, 60%);
				}
			}
		}

		.btnContainer {
			width: 100%;
			height: 67.38;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 36px 15vw 30px;

			.writeBtn {
				width: 108px;
				height: 41.61px;
				background: $tableBtn;
				border-radius: 5px;
				padding: 9px 13.5px;
				font: 15px/1 $ikeaFontKo;
				color: $fontColorW;
				transition: 0.5s;
				border: none;
				cursor: pointer;

				&:hover {
					background: $hoverBtn;
					color: $fontColorW;
				}
			}

			.rightBtnWrap {
				display: flex;
				gap: 30px;
				align-items: center;

				p {
					font: 15px/1 $ikeaFontKo;
					color: $fontColorBl;

					span {
						font: bold 15px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.arrayBtn {
					width: 108px;
					height: 41.61px;
					font: 15px/1 $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;
					border: none;
					text-align: center;

					&:hover,
					&:focus {
						outline: none;
						box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
					}
				}
			}
		}
		.horzienLine {
			height: 1px;
			width: 70%;
			margin: 0px auto;
			margin-bottom: 35px;
			background: $border;
		}
		.listWrap {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
			gap: 25px;
			padding: 36px 5vw 35px;

			.list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: calc(100% / 1 - 25px);
				height: 250px;
				border: 1px solid $grey;
				flex-direction: column;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					box-shadow: 2px 1px 1rem rgba(137, 137, 143, 0.3);
				}

				h3 {
					font: bold 20px/1 $ikeaFontKo;
					padding: 50px 50px 0px;
					color: $fontColorBl;
				}

				h2 {
					font: bold 20px/1.5 $ikeaFontKo;
					padding: 20px 50px 14.4px;
					color: $fontColorBl;
					margin-bottom: 15px;
				}

				.bottomWrap {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					padding: 0px 0px 50px 50px;
					p {
						font: 14px/1 $ikeaFontKo;
						color: $fontColorBl;
						&::after {
							content: '|';
							margin-right: 10px;
							margin-left: 10px;
						}

						&:nth-of-type(2) {
							&::after {
								content: '';
								margin-right: 10px;
								margin-left: 10px;
							}
						}
						.fa-eye {
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}
