.contact {
	width: 100vw;
	min-height: calc(100vh - 300px);

	.promotionWrap {
		padding: 0px 15vw 0px;
		.promotionTit {
			font: 18px/60px $ikeaFontKo;
			color: $fontColorBl;
		}
		.eventWrap {
			width: 100%;
			height: 360px;
			display: flex;
			gap: 30px;

			.eventBox {
				width: calc(100% / 3 - 30px);
				background: orange;
			}
		}
	}
}
