.contact {
	width: 100vw;
	min-height: calc(100vh - 300px);

	.promotionWrap {
		padding: 0px 15vw 0px;
		.promotionTit {
			font: 18px/60px $ikeaFontKo;
			color: $fontColorBl;
		}
		.eventWrap {
			width: 100%;
			height: 360px;
			display: flex;
			gap: 30px;

			.eventBox {
				width: calc(100% / 3 - 30px);
				background: orange;
			}
		}
	}

	.locationContainer {
		width: 100%;
		height: auto;
		background: #f6f6f6;

		.titWrap {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			h3 {
				font: 57px/60px $ikeaFontKo;
				color: $fontColorBl;
			}

			.tabMenu {
				ul {
					display: flex;

					gap: 30px;
					li {
						font: 18px/60px $ikeaFontKo;
						color: $fontColorBl;

						&:nth-of-type(2),
						&:nth-of-type(3) {
							border-left: 1px solid red;
						}
					}
				}
			}

			.mapContainer {
				width: 100%;
				height: 540px;
				display: flex;
				padding: 0px 15vw 0px;
				margin-bottom: 150px;
				#map {
					width: calc(100% / 2);
					background: red;

					.addressDesc {
						width: 100%;
						height: 60px;
						background: black;
					}
				}

				.leftInfo {
					width: calc (100% /2);
				}
			}
		}
	}
}
