.detail {
	width: 100vw;
	min-height: calc(100vh - 300px);

	.listWrap {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0px 15vw 0px;
		.titWrap {
			display: flex;
			flex-direction: column;
			.titTop {
				h1 {
					padding: 250px 15vw 27px;
					text-align: center;
					font: bold 48px/1 $ikeaFontKo;
					color: $fontColorBl;
				}
			}
			.titBottom {
				display: flex;
				justify-content: center;
				margin-bottom: 96px;

				p {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorGrC;

					&::after {
						content: 'ㆍ';
						font: bold 18px /1 $ikeaFontKo;
						font-weight: 950;
						color: $fontColorGrC;
						margin-left: 5px;
						margin-right: 5px;
					}

					&:nth-of-type(3):after {
						content: '';
					}
				}
			}
		}

		.contentWrap {
			display: flex;
			justify-content: center;
			flex-direction: column;
			border-bottom: 1px solid rgba($ikeaBl, 0.6);
			margin-bottom: 50px;

			p {
				font: 18px/1 $ikeaFontKo;
				color: $fontColorBl;

				&:nth-of-type(1) {
					margin-bottom: 200px;
				}

				&:nth-of-type(2) {
					text-align: center;
					margin-bottom: 90px;

					.keywordMap {
						width: 68px;
						height: 38px;
						padding: 10px 18px;
						border: 1px solid rgba(128, 128, 128, 0.4);
						font: 14px/1 $ikeaFontKo;
						color: $fontColorBl;
						border-radius: 50px;
						margin: 5px;
						transition: 0.5s;
						cursor: pointer;

						&:hover {
							background: $grey;
							border: none;
						}
					}
				}
			}
		}

		.buttonWrap {
			width: 100%;
			display: flex;
			justify-content: center;
			align-self: center;
			border-bottom: 1px solid $border;
			padding: 4px 10vw 90px;
			gap: 15px;

			button {
				width: 210px;
				height: 52px;
				font: 16px/52px $ikeaFontKo;
				border-radius: 5px;
				cursor: pointer;

				&:nth-of-type(1),
				&:nth-of-type(2) {
					background: transparent;
					border: 1px solid rgba($ikeaBl, 0.6);
					color: $fontColorBl;
					transition: 0.5s;

					&:hover {
						background: $tableBtn;
						color: $fontColorW;
					}
				}

				&:nth-of-type(3) {
					background: $tableBtn;
					color: $fontColorW;
					border: none;
					transition: 0.5s;

					&:hover {
						background: $hoverBtn;
						color: $fontColorW;
					}
				}
			}
		}
	}

	.commentWriteWrap {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 60px 15vw 60px;

		.commentWriteTop {
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;

			h2 {
				font: bold 28px/1 $ikeaFontKo;
				color: $fontColorBl;
			}

			h3 {
				font: 18px/1 $ikeaFontKo;
				color: $fontColorGrC;
				display: flex;
				gap: 10px;
				cursor: pointer;

				.fa-circle-exclamation,
				.fa-angle-down {
					transform: translateY(2px);
					cursor: pointer;
				}
			}
		}
		.commentWriteBottom {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid rgba($ikeaBl, 0.6);

			textarea[placeholder] {
				font: 16px/1.5 $ikeaFontKo;
				color: $fontColorBl;
			}

			textarea {
				background: rgba(107, 112, 135, 0.06);
				border: 1px solid rgba(107, 112, 135, 0.06);
				font: 16px/1.5 $ikeaFontKo;
				color: $fontColorBl;
				padding: 20px;
				margin-bottom: 30px;
				border-radius: 5px;

				&:focus {
					outline: none;
				}
			}
		}

		.textareaBottom {
			display: flex;
			justify-content: space-between;

			p {
				font: 16px/1 $ikeaFontKo;
				color: $fontColorGrC;
				margin-bottom: 80px;
			}

			button {
				width: 120px;
				height: 46px;
				background: $tableBtn;
				font: 16px/1 $ikeaFontKo;
				color: $fontColorW;
				border: none;
				border-radius: 5px;
				transition: 0.5s;
				cursor: pointer;

				&:hover {
					background: $hoverBtn;
					color: $fontColorW;
				}
			}
		}
	}

	.commentShowWrap {
		width: 100%;
		height: 100%;
		padding: 40px 0vw 200px;

		.commentShowTop {
			display: flex;
			justify-content: space-between;

			h3 {
				font: bold 24px/1 $ikeaFontKo;
				color: $fontColorBl;
				padding-bottom: 35px;
				border-bottom: 1px solid rgba($ikeaBl, 0.6);

				span {
					color: #1469d8;
				}
			}

			.commentSortBtn {
				display: flex;
				gap: 15px;

				button {
					border: none;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;
					background: transparent;
					cursor: pointer;

					&.active {
						font: bold 16px/1 $ikeaFontKo;
						text-decoration-line: underline;
						text-decoration-color: rgba($ikeaBl, 0.6);
						text-decoration-thickness: 1px;
						text-underline-offset: 5px;
						text-underline-position: under;
					}
				}
			}
		}

		.commentList {
			border-top: 1px solid $border;
			border-bottom: 1px solid $border;
			padding: 60px 0vw 60px;

			.commentListTop {
				margin-bottom: 30px;
				font: 16px/1.5 $ikeaFontKo;
				color: $fontColorBl;
			}
			.commentListBottom {
				display: flex;
				justify-content: space-between;

				.leftWrap {
					display: flex;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;

						&:nth-of-type(2),
						&:nth-of-type(3),
						&:nth-of-type(4) {
							cursor: pointer;
						}

						&:nth-of-type(1):after,
						&:nth-of-type(2):after {
							content: '|';
							margin-left: 5px;
							margin-right: 5px;
						}
					}
				}
				.rightWrap {
					display: flex;
					gap: 5px;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorGrC;

					.fa-heart {
						transform: translateY(3px);
						cursor: pointer;
					}
				}
			}
		}
	}
}
