.topPopUp {
	padding: 0px 15vw 90px;

	.topBgWrap {
		width: 100%;
		height: 300px;
		overflow: hidden;
		position: relative;
		z-index: -555;

		img {
			width: 100%;
			height: 50%;
			object-fit: cover;
		}
	}
	.upperBanner {
		width: 100%;
		height: 60px;
		background: rgba($ikeaBl, 0.6);
		position: relative;
		margin-top: -15vh;

		p {
			font: 18px/60px $ikeaFontKo;
			color: $fontColorW;
			padding-left: 32px;
			opacity: 1;
		}
	}

	.storeListContainer {
		width: 100%;
		height: 450px;
		display: flex;
		position: relative;

		.leftContainer {
			width: calc(100% / 3);
			background: #f6f6f6;
			padding: 40px;

			.storeNameWrap {
				display: flex;
				justify-content: space-between;
				margin-bottom: 70px;

				h2 {
					font: 48px/60px $ikeaFontKo;
					color: $fontColorBl;
				}

				select {
					margin-top: 5px;
					width: 90px;
					height: 36px;
					font: 14px/60px $ikeaFontKo;
					color: $fontColorBl;
					border: none;
					border-bottom: 1px solid $borderLight;
					background: transparent;
					padding: 2px;
					cursor: pointer;

					&:focus {
						outline: none;
					}

					option {
						text-align: center;
					}
				}
			}

			.weatherWrap {
				width: 224px;
				height: 100px;
				margin-bottom: 20px;
				display: flex;
				justify-content: left;
				align-items: center;

				img {
					width: 150px;
					height: 150px;
					margin-left: -2vw;
				}

				.temperature {
					p {
						font: 28px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}
			}

			.selectStoreDesc {
				p {
					font: 18px/1.6 $ikeaFontKo;
					color: $fontColorBl;
				}
			}
		}
		.middleContainer {
			width: calc(100% / 3);
			background: #f6f6f6;
			border-left: 1px solid #e5e5e5;
			padding: 40px;
			display: flex;
			flex-direction: column;

			ul {
				margin-bottom: 150px;
				text-align: left;
				li {
					font: 16px/1.5 $ikeaFontKo;
					color: $fontColorBl;
					margin-bottom: 10px;

					&:nth-of-type(1) {
						margin-bottom: 20px;
					}

					.fontAwesomeIcon {
						margin-right: 20px;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorGrC;
					}
				}
			}
			button {
				width: 100%;
				height: 43px;
				font: 16px/43px $ikeaFontKo;
				color: $fontColorBl;
				margin: 0px auto;
				background: transparent;
				border: 1px solid $borderLight;
				cursor: pointer;
			}
		}
		.rightContainer {
			width: calc(100% / 3);
			background: #f6f6f6;
			border-left: 1px solid #e5e5e5;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px;
			flex-direction: column;

			.react-calendar {
				width: 100%;
				max-width: 100%;
				background: transparent;
				border: none;
				font: 18px/1.8em $ikeaFontKo;
				color: $fontColorBl;
			}

			.react-calendar--doubleView {
				width: 700px;
			}

			.react-calendar--doubleView .react-calendar__viewContainer {
				display: flex;
				margin: -0.5em;
			}

			.react-calendar--doubleView .react-calendar__viewContainer > * {
				width: 50%;
				margin: 0.5em;
			}

			.react-calendar,
			.react-calendar *,
			.react-calendar *:before,
			.react-calendar *:after {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}

			.react-calendar button {
				margin: 0;
				border: 0;
				outline: none;
			}

			.react-calendar button:enabled:hover {
				cursor: pointer;
			}

			.react-calendar__navigation {
				display: flex;
				height: 20px;
			}

			.react-calendar__navigation button {
				min-width: 44px;
				background: none;
				font: 15px/1.8em $ikeaFontKo;
				color: $fontColorBl;
			}

			.react-calendar__navigation button:disabled {
				background-color: #f0f0f0;
			}

			.react-calendar__navigation button:enabled:hover,
			.react-calendar__navigation button:enabled:focus {
				background-color: #e6e6e6;
			}

			.react-calendar__month-view__weekdays {
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.75em;
			}

			.react-calendar__month-view__weekdays__weekday {
				padding: 0.5em;
			}

			.react-calendar__month-view__weekNumbers .react-calendar__tile {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.75em;
				font-weight: bold;
			}

			.react-calendar__month-view__days__day--weekend {
				color: #dbdbdb;
			}

			.react-calendar__month-view__days__day--neighboringMonth {
				color: #757575;
			}

			.react-calendar__year-view .react-calendar__tile,
			.react-calendar__decade-view .react-calendar__tile,
			.react-calendar__century-view .react-calendar__tile {
				padding: 2em 0.5em;
			}
			.react-calendar__navigation__label {
				pointer-events: none;
			}

			.react-calendar__tile {
				max-width: 100%;
				max-height: 100%;
				text-align: center;
				padding: 16px 10px;
				line-height: 10px;
				pointer-events: none;
			}

			.react-calendar__tile:disabled {
				background-color: #f0f0f0;
			}

			.react-calendar__tile:enabled:hover,
			.react-calendar__tile:enabled:focus {
				background-color: #e6e6e6;
			}

			.react-calendar__tile--now {
				background: transparent;
				border-radius: 50%;
				font-weight: bold;
			}

			.react-calendar__tile--now:enabled:hover,
			.react-calendar__tile--now:enabled:focus {
				background: #ffffa9;
			}

			.react-calendar__tile--hasActive {
				background: #76baff;
			}

			.react-calendar__tile--hasActive:enabled:hover,
			.react-calendar__tile--hasActive:enabled:focus {
				background: #a9d4ff;
			}

			.react-calendar__tile--active {
				background: transparent;
				color: $fontColorBl;
				border: 1px solid;
				background: url(/img/calender.png);
				background-repeat: no-repeat;
				background-position: center;
			}

			.highlight {
				color: #fff;
				border-radius: 50px;
				background: url(/img/calenderRed.png);
				background-position: center;
				background-repeat: no-repeat;
			}

			.openLong {
				color: #fff;
				border-radius: 50px;
				background: url(/img/calenderBl.png);
				background-repeat: no-repeat;
				background-position: center;
			}

			.react-calendar__tile--active:enabled:hover,
			.react-calendar__tile--active:enabled:focus {
				background: #1087ff;
			}

			.react-calendar--selectRange .react-calendar__tile--hover {
				background-color: #e6e6e6;
			}

			.dateDesc {
				width: 100%;
				height: 30px;
				display: flex;
				justify-content: right;
				margin-top: 30px;

				ul {
					display: flex;
					float: left;
					gap: 30px;

					li {
						font: 14px/1 $ikeaFontKo;
						color: $fontColorBl;

						&:nth-of-type(1):before {
							content: '\f111';
							display: inline-block;
							font-family: 'Font Awesome 5 Free';
							font-weight: 900;
							margin-right: 5px;
							color: $holiday;
						}

						&:nth-of-type(2):before {
							content: '\f111';
							display: inline-block;
							font-family: 'Font Awesome 5 Free';
							font-weight: 900;
							margin-right: 5px;
							color: $openLong;
						}

						&:nth-of-type(3):before {
							content: '\f111';
							display: inline-block;
							font-family: 'Font Awesome 5 Free';
							font-weight: 900;
							margin-right: 5px;
							color: $today;
						}
					}
				}
			}
		}
	}
}

.descBanner {
	display: flex;
	justify-content: right;
	margin-top: 25px;
	gap: 8px;
	font: 14px/1 $ikeaFontKo;
	color: $fontColorGrC;

	p {
		font: 14px/1 $ikeaFontKo;
		color: $fontColorGrC;
		text-decoration-line: underline;
		text-decoration-color: $fontColorGrC;
		text-decoration-thickness: 1.2px;
		text-underline-offset: 2px;
		text-underline-position: under;
		cursor: pointer;

		&:nth-of-type(4) {
			text-decoration-color: transparent;
		}
	}
}
