.subwayInfoWrap {
	.subwayTitWrap {
		display: flex;

		h3 {
			font: bold 15px/1.2 $ikeaFontKo;
			color: $fontColorBl;
		}
		span {
			margin-right: 10px;
		}
	}

	p {
		font: 14px/1 $ikeaFontKo;
		color: $fontColorBl;
	}
}
