#museum {
	width: 100vw;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	overflow: hidden;

	.bgLeft {
		width: 50%;
		height: 100%;

		.leftTxt {
			height: 100%;
			padding: 10px;
			margin-left: 9vw;
			position: relative;
			transform: translateY(50%);
			font: 40px/1 $ikeaFontKo;
			color: transparent;
			text-align: center;
			-webkit-text-stroke: 1px $fontColorW;
			white-space: pre-wrap;
			text-orientation: sideways;
			transform: rotate(180deg);
			writing-mode: vertical-rl;
			word-spacing: 5px;
		}
	}

	.bgRight {
		width: 50%;
		height: 100%;
		background: #4881c2;

		.rightTxt {
			height: 100%;
			float: right;
			color: transparent;
			position: relative;
			text-align: center;
			transform: translateY(50%);
			font: 40px/1 $ikeaFontKo;
			-webkit-text-stroke: 1px $fontColorW;
			margin-right: 10vw;
			padding: 10px;
			text-orientation: sideways;
			transform: rotate(180deg);
			writing-mode: vertical-rl;
			white-space: pre-wrap;
			word-spacing: 5px;
		}
	}

	.container {
		max-width: 100%;
		height: 700px;
		margin: 0 auto;
		padding: 120px 15vw 96px;
		position: absolute;
		z-index: 99;
	}

	.swiper-container {
		max-width: 100%;
		height: 500px;
		position: static;
		overflow: hidden;

		.swiper-wrapper {
			.swiper-slide {
				text-align: center;
				width: 440px;
				height: 440px;
				font-size: 18px;
				background: rgb(255, 255, 255);
				border-radius: 50%;
				background: transparent;
				border: 2px solid white;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				text-align: left;
				position: relative;
				padding: 120px 100px;
				text-align: justify;
				word-break: break-all;
				cursor: pointer;

				&:hover {
					background: rgba(0, 0, 0, 0.5);
					border: none;
				}

				h3 {
					position: relative;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorW;
					margin-bottom: 35px;
					z-index: 1;
				}

				h2 {
					position: relative;
					font: bold 24px/1 $ikeaFontKo;
					color: $fontColorW;
					z-index: 1;
					margin-bottom: 15px;
				}

				.con {
					position: relative;
					font: 18px/1.5 $ikeaFontKo;
					color: $fontColorW;
					z-index: 1;
					margin-bottom: 40px;
				}

				.date {
					position: relative;
					font: 18px/1.5 $ikeaFontKo;
					color: $fontColorW;
					z-index: 1;
				}
			}
		}

		.swiper-button-prev {
			position: absolute;
			top: 55%;
			left: 120px;
			width: 26px;
			height: 26px;
			transform: translateY(-200%);
			margin-top: 0px;
		}

		.swiper-button-next {
			position: absolute;
			top: 55%;
			right: 120px;
			width: 26px;
			height: 26px;
			transform: translateY(-200%);
			margin-top: 0px;
		}
	}
}

@media screen and (max-width: 1677px) {
	#museum {
		width: 100vw;
		height: 700px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		overflow: hidden;

		.bgLeft {
			width: 50%;
			height: 100%;

			.leftTxt {
				display: none;
			}
		}

		.bgRight {
			width: 50%;
			height: 100%;
			background: #4881c2;

			.rightTxt {
				display: none;
			}
		}

		.container {
			max-width: 100%;
			height: 500px;
			margin: 0 auto;
			padding: 120px 15vw 96px;
			position: absolute;
			z-index: 99;
		}

		.swiper-container {
			max-width: 100%;
			height: 500px;

			position: static;
			overflow: hidden;

			.swiper-wrapper {
				.swiper-slide {
					text-align: center;
					width: 440px;
					height: 440px;
					font-size: 18px;
					background: rgb(255, 255, 255);
					border-radius: 50%;
					background: transparent;
					border: 2px solid white;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					text-align: left;
					position: relative;
					padding: 100px 100px;
					text-align: justify;
					word-break: break-all;
					cursor: pointer;

					&:hover {
						background: rgba(0, 0, 0, 0.5);
						border: none;
					}

					h3 {
						position: relative;
						font: 16px/1 $ikeaFontKo;
						color: $fontColorW;
						margin-bottom: 35px;
						z-index: 1;
					}

					h2 {
						position: relative;
						font: bold 24px/1 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
						margin-bottom: 15px;
					}

					.con {
						position: relative;
						font: 18px/1.5 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
						margin-bottom: 40px;
					}

					.date {
						position: relative;
						font: 18px/1.5 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
					}
				}
			}

			.swiper-button-prev {
				position: absolute;
				top: 75%;
				left: 120px;
				width: 26px;
				height: 26px;
				transform: translateY(-200%);
				margin-top: 0px;
				&::after {
					font-size: 30px;
				}
			}

			.swiper-button-white {
				position: absolute;
				top: 75%;
				right: 120px;
				width: 26px;
				height: 26px;
				transform: translateY(-200%);
				margin-top: 0px;

				&::after {
					font-size: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#museum {
		width: 100vw;
		height: 600px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;

		.bgLeft {
			width: 50%;
			height: 100%;

			.leftTxt {
				display: none;
			}
		}

		.bgRight {
			width: 50%;
			height: 100%;
			background: #4881c2;

			.rightTxt {
				display: none;
			}
		}

		.container {
			max-width: 100%;
			height: 600px;
			margin: 0 auto;
			padding: 120px 10vw 96px;
			position: absolute;
			z-index: 99;
		}

		.swiper-container {
			width: 100%;
			height: 400px;
			position: static;

			.swiper-wrapper {
				.swiper-slide {
					text-align: center;
					width: 320px;
					height: 320px;
					font-size: 18px;
					background: rgb(255, 255, 255);
					border-radius: 50%;
					background: transparent;
					border: 2px solid white;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					text-align: left;
					position: relative;
					padding: 80px 64px;

					h3 {
						position: relative;
						font: 12.8px/1 $ikeaFontKo;
						color: $fontColorW;
						margin-bottom: 25px;
						z-index: 1;
					}

					h2 {
						position: relative;
						font: bold 19.2px/1 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
						margin-bottom: 25px;
					}

					.con {
						position: relative;
						font: 14.4px/1.5 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
						margin-bottom: 0px;
						text-align: justify;
						word-break: break-all;
					}

					.date {
						display: none;
					}
				}
			}

			.swiper-button-prev {
				position: absolute;
				top: 53%;
				left: 50px;
				width: 24px;
				height: 24px;
				transform: translateY(-200%);
				margin-top: 0px;
			}

			.swiper-button-next {
				position: absolute;
				top: 53%;
				right: 50px;
				width: 24px;
				height: 24px;
				transform: translateY(-200%);
				margin-top: 0px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#museum {
		width: 100vw;
		height: 600px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;

		.bgLeft {
			width: 50%;
			height: 100%;

			.leftTxt {
				height: 100%;
				padding: 10px;
				margin-left: 5vw;
				position: relative;
				top: 0%;
				transform: translateY(50%);
				font: 40px/1 $ikeaFontKo;
				color: transparent;
				text-align: center;
				-webkit-text-stroke: 1px $fontColorW;
				white-space: pre-wrap;
				text-orientation: sideways;
				transform: rotate(180deg);
				writing-mode: vertical-rl;
				word-spacing: 5px;
			}
		}

		.bgRight {
			width: 50%;
			height: 100%;
			background: #4881c2;

			.rightTxt {
				display: none;
			}
		}

		.container {
			width: 100%;
			height: 600px;
			margin: 0 auto;
			padding: 120px 0vw 96px;
			position: absolute;
			z-index: 99;
		}

		.swiper-container {
			width: 80%;
			height: 400px;
			position: static;

			.swiper-wrapper {
				.swiper-slide {
					text-align: center;
					width: 300px;
					height: 300px;
					font-size: 18px;
					backdrop-filter: brightness(0.4);
					border-radius: 50%;
					background: transparent;
					border: none;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					text-align: left;
					position: relative;
					padding: 70px 56px;

					h3 {
						position: relative;
						font: 11.2px/1 $ikeaFontKo;
						color: $fontColorW;
						margin-bottom: 25px;
						z-index: 1;
					}

					h2 {
						position: relative;
						font: bold 16.8px/1 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
						margin-bottom: 25px;
					}

					.con {
						position: relative;
						font: 12.6px/1.5 $ikeaFontKo;
						color: $fontColorW;
						z-index: 1;
					}
				}
			}

			.swiper-button-prev {
				position: absolute;
				top: 50%;
				left: 30px;
				width: 24px;
				height: 24px;
				transform: translateY(-200%);
				margin-top: 0px;
			}

			.swiper-button-next {
				position: absolute;
				top: 50%;
				right: 30px;
				width: 24px;
				height: 24px;
				transform: translateY(-200%);
				margin-top: 0px;
			}
		}
	}
}
