.department {
	width: 100vw;
	min-height: calc(100vh - 300px);

	.titTop {
		h1 {
			padding: 250px 15vw 120px;
			text-align: center;
			font: bold 48px/1 $ikeaFontKo;
			color: $fontColorBl;
		}
	}

	.titContainer {
		width: 100%;
		height: 200px;
		padding: 0px 20vw 30px;
		display: flex;
		flex-direction: column;
		margin-bottom: 96px;

		//Sign Up timeline text
		h2 {
			text-align: left;
			font: bold 18px/1.3 $ikeaFontKo;
			color: $fontColorBl;
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			white-space: nowrap;
		}
	}

	.timeLine {
		flex: 1;
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		padding-bottom: 60px;
		border-bottom: 1px solid $inputBorder;
		gap: 104px;

		.timeLineNum {
			width: 117px;
			height: 117px;
			border-radius: 50%;
			float: left;
			border: 1px solid $inputBorder;
			position: relative;

			&:nth-of-type(2) {
				background: $ikeaYellow;
				border: none;
			}

			&::after {
				content: '\f061';
				position: relative;
				align-items: center;
				top: 30%;
				left: -70%;
				transform: translate(50%, 50%);
				font: 30px/1 $ikeaFontKo;
				color: $inputBorder;
				display: inline-block;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			&:nth-of-type(1):after {
				content: '>';
				position: relative;
				align-items: center;
				top: 50%;
				left: -50%;
				transform: translate(50%, 50%);
				font: bold 25px/1 $ikeaFontKo;
				color: $fontColorGr;
				display: none;
			}
		}
	}

	fieldset {
		border: none;
	}

	.info1 {
		width: 100%;
		height: 517px;
		margin-bottom: 200px;
		padding: 0px 20vw 150px;

		h2 {
			font: bold 26px/1 $ikeaFontKo;
			color: $fontColorBl;
			padding-bottom: 2vw;
		}

		form {
			table {
				width: 100%;
				height: 517px;
				padding: 30px;
				background: $tableBg;

				th,
				td {
					padding: 16px 18px;
				}
				th {
					font: bold 18px/1 $ikeaFontKo;
					color: $ikeaBl;
					transform: translate(0%, -14%);
					text-align: left;
					padding: 0px 2vw 0px;

					&:nth-of-type(1)::after {
						content: '*';
						font: bold 18px/1 $ikeaFontKo;
						color: red;
					}
				}

				td {
					width: 80%;
				}

				p {
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;

					&::before {
						content: '\f00c';
						display: inline-block;
						font-family: 'Font Awesome 5 Free';
						color: $fontColorGrC;
						font-weight: 900;
						margin-right: 5px;
					}
				}

				.checkIdBtn,
				.checkNickBtn {
					width: 108px;
					height: 41px;
					background: $tableBtn;
					border-radius: 5px;
					color: $fontColorW;
					border: none;
					transform: translate(0, -5%);
					font: 15px/1 $ikeaFontKo;
				}

				input[type='text'] {
					padding: 10px;
					width: 30%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					margin-bottom: 15px;
					font: 16px/1 $ikeaFontKo;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				input[type='password'] {
					padding: 10px;
					width: 30%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					color: red;
					margin-bottom: 15px;
					position: relative;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				.pwdStrength {
					width: 30%;
					margin-bottom: 15px;
					p {
						&::before {
							content: none;
						}
					}
				}
				.fa-eye {
					position: relative;
					right: 30px;
					color: $fontColorGr;
					cursor: pointer;
				}

				input[placeholder] {
					padding: 10px;
					width: 30%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;
				}

				input[type='email'] {
					padding: 10px;
					width: 20%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				select {
					padding: 2px 10px;
					width: 18%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: $tableBg;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;
					transform: translate(0, -1%);
					margin-bottom: 15px;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}
			}
		}
	}

	.info2 {
		width: 100%;
		height: 517px;
		margin-bottom: 200px;
		padding: 50px 20vw 150px;

		h2 {
			font: bold 26px/1 $ikeaFontKo;
			color: $fontColorBl;
			padding-bottom: 2vw;
		}

		form {
			table {
				width: 100%;
				height: 517px;
				padding: 30px;
				background: $tableBg;

				th,
				td {
					padding: 16px 18px;
				}
				th {
					font: bold 18px/1 $ikeaFontKo;
					color: $ikeaBl;
					text-align: left;
					padding: 0px 2vw 0px;
					transform: translate(0%, -3%);
				}

				td {
					width: 80%;
				}

				.textareaCount {
					font: 16px/1 $ikeaFontKo;
					color: $fontColorGr;
				}

				.addressBtn {
					width: 108px;
					height: 41px;
					background: $tableBtn;
					border: 1px solid $ikeaBl;
					border-radius: 5px;
					color: $fontColorW;
					border: none;
					transform: translate(0, -5%);
					font: 15px/1 $ikeaFontKo;
				}
				input[type='text'] {
					padding: 10px;
					width: 40%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					margin-bottom: 10px;
					font: 16px/1 $ikeaFontKo;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				textarea[placeholder] {
					padding: 10px;
					width: 92%;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				input[placeholder] {
					padding: 10px;
					width: 92%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: #fff;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				input[type='checkbox'] {
					margin-left: 20px;
					margin-bottom: 20px;

					&:nth-of-type(1) {
						margin-left: 0;
					}

					&:checked {
						accent-color: $tableCheckBox;
					}
				}

				select {
					padding: 8px;
					width: 15%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					background: $tableBg;
					font: 16px/1 $ikeaFont;
					color: $fontColorBl;
					transform: translate(0, 8%);

					&:focus {
						outline: 1px solid #12a8ce;
					}
				}

				input[class='address'] {
					&:focus {
						outline: 1px solid #12a8ce;
					}

					&:nth-of-type(1) {
						width: 40%;
					}

					&:nth-of-type(2) {
						width: 92%;
					}

					&:nth-of-type(3) {
						width: 92%;
					}
					&:nth-of-type(4) {
						width: 45%;
						float: left;
						margin-right: 5px;
					}
					&:nth-of-type(5) {
						width: 46.5%;
						margin-bottom: 15px;
					}
				}

				.addressTit {
					&::after {
						content: '*';
						font: bold 18px/1 $ikeaFontKo;
						color: red;
					}
				}

				p {
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;

					&::before {
						content: '\f00c';
						display: inline-block;
						font-family: 'Font Awesome 5 Free';
						color: $fontColorGrC;
						font-weight: 900;
						margin-right: 5px;
					}
				}
			}
		}
	}

	.info3 {
		width: 100%;
		height: 185px;
		margin-top: 450px;
		margin-bottom: 200px;
		padding: 0px 20vw 0px;

		h2 {
			font: bold 26px/1 $ikeaFontKo;
			color: $fontColorBl;
			padding-bottom: 2vw;
		}

		form {
			table {
				width: 100%;
				height: 185px;
				padding: 30px;
				background: $tableBg;

				th,
				td {
					padding: 16px 18px;
				}

				th {
					font: bold 18px/1 $ikeaFontKo;
					color: $ikeaBl;
					text-align: left;
					padding: 0px 2vw 0px;
				}

				td {
					width: 80%;
				}

				input[type='radio'] {
					margin-left: 20px;

					&:nth-of-type(1) {
						margin-left: -20px;
					}

					&:checked {
						accent-color: $tableCheckBox;
					}
				}
			}
		}
	}

	.btnSet {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60%;
		height: 280px;
		padding: 0px 20vw 96px;
		margin: 0px auto;
		border-top: 1px solid $inputBorder;

		input {
			width: 108px;
			height: 41px;
			background: $tableBtn;
			border-radius: 5px;
			color: $fontColorW;
			border: none;
			transform: translate(0, -5%);
			font: 15px/1 $ikeaFontKo;
			margin-right: 30px;
			cursor: pointer;

			&:nth-of-type(1) {
				background: #fff;
				border: 1px solid $tableBtn;
				color: $fontColorBl;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.department {
		.titContainer {
			height: 300px;
			padding: 150px 10vw 150px;
			margin-bottom: 150px;

			///Sign Up pagee title
			h1 {
				font: bold 38.4px/1 $ikeaFontKo;

				margin-top: 20px;
				margin-bottom: 96px;
			}

			//Sign Up timeline text
			h2 {
				font: bold 16px/1.3 $ikeaFontKo;
			}
		}

		.timeLine {
			height: 300px;

			padding-bottom: 60px;

			.timeLineNum {
				width: 104px;
				height: 104px;

				&::after {
					content: '\f061';

					font-family: 'Font Awesome';
					font-weight: 900;
				}
			}
		}

		.info1 {
			width: 100%;
			height: 517px;
			margin-bottom: 200px;
			padding: 150px 10vw 150px;

			h2 {
				font: bold 22.4px/1 $ikeaFontKo;
				color: $fontColorBl;
				padding-bottom: 5vw;
			}

			form {
				table {
					width: 100%;
					height: 517px;
					padding: 30px;
					background: $tableBg;

					th,
					td {
						padding: 16px 18px;
					}

					th {
						font: bold 14.4px/1 $ikeaFontKo;
						color: $ikeaBl;
						transform: translate(0%, -14%);
						text-align: left;
						padding: 0px 1vw 0px;

						&:nth-of-type(1)::after {
							font: bold 16px/1 $ikeaFontKo;
						}
					}

					td {
						width: 80%;
					}

					p {
						font: 12.8px/1 $ikeaFontKo;

						&::before {
							margin-right: 5px;
						}
					}

					.checkIdBtn,
					.checkNickBtn {
						width: 96px;
						height: 37px;
						font: 12.8px/1 $ikeaFontKo;
					}
					input[type='text'] {
						padding: 5px;
						width: 50%;
						height: 37px;
						margin-bottom: 15px;
						font: 14.4px/1 $ikeaFontKo;
					}

					input[type='password'] {
						padding: 5px;
						width: 30%;
						height: 37px;
						border-radius: 5px;
						margin-bottom: 15px;
					}

					input[placeholder] {
						padding: 5px;
						width: 50%;
						height: 37px;
						font: 14.4px/1 $ikeaFontKo;
					}

					input[type='email'] {
						padding: 5px;
						width: 28%;
						height: 37px;
						font: 14.4px/1 $ikeaFontKo;
					}

					select {
						padding: 2px 5px;
						width: 25%;
						height: 37px;
						border-radius: 5px;
						font: 14.4px/1 $ikeaFontKo;
						transform: translate(0, -1%);
					}
				}
			}
		}

		.info2 {
			padding: 150px 10vw 150px;

			h2 {
				font: bold 22.4px/1 $ikeaFontKo;
				padding-bottom: 5vw;
			}

			form {
				table {
					width: 100%;
					height: 517px;
					padding: 30px;

					th,
					td {
						padding: 16px 18px;
					}
					th {
						font: bold 14.4px/1 $ikeaFontKo;

						padding: 0px 1vw 0px;
					}

					span {
						font: 14.4px/1 $ikeaFontKo;
					}

					button {
						height: 37px;
						font: 12.8px/1 $ikeaFontKo;
					}
					input[type='text'] {
						padding: 5px;
						width: 50%;
						height: 37px;
						margin-bottom: 10px;
						font: 14.4px/1 $ikeaFontKo;
					}

					textarea[placeholder] {
						padding: 5px;
						font: 14.4px/1 $ikeaFontKo;
					}

					input[placeholder] {
						padding: 5px;
						width: 92%;
						height: 37px;
						font: 14.4px/1 $ikeaFontKo;
					}

					select {
						padding: 5px;
						width: 18%;
						height: 37px;
						font: 14.4px/1 $ikeaFont;
					}

					input[class='address'] {
						&:nth-of-type(2) {
							width: 92%;
						}

						&:nth-of-type(3) {
							width: 92%;
						}

						&:nth-of-type(4) {
							width: 45%;
						}

						&:nth-of-type(5) {
							width: 46%;
						}
					}

					.addressTit {
						&::after {
							font: bold 14.4px/1 $ikeaFontKo;
						}
					}
				}
			}
		}

		.info3 {
			margin-top: 530px;
			padding: 0px 10vw 0px;

			h2 {
				font: bold 22.4px/1 $ikeaFontKo;
				padding-bottom: 5vw;
			}

			form {
				table {
					th,
					th {
						font: bold 14.4px/1 $ikeaFontKo;
						padding: 0px 1vw 0px;
					}
				}
			}
		}

		.btnSet {
			width: 80%;
			padding: 0px 10vw 0px;

			input {
				font: 12.8px/1 $ikeaFontKo;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.department {
		.titContainer {
			height: 300px;
			padding: 150px 5vw 150px;
			margin-bottom: 150px;

			///Sign Up pagee title
			h1 {
				font: bold 33.6px/1 $ikeaFontKo;
				margin-top: 20px;
				margin-bottom: 96px;
			}

			//Sign Up timeline text
			h2 {
				font: bold 14px/1.3 $ikeaFontKo;
			}
		}

		.timeLine {
			height: 300px;
			padding-bottom: 60px;

			.timeLineNum {
				width: 91px;
				height: 91px;

				&:nth-child(2):after {
					display: none;
				}

				&:nth-of-type(1) {
					display: none;
				}

				&::after {
					font: bold 16px/1 $ikeaFontKo;
					transform: translate(50%, 50%);
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
				}
			}
		}

		.info1 {
			width: 100%;
			height: 517px;
			padding: 96px 5vw 96px;
			margin-bottom: 96px;

			h2 {
				font: bold 19.6px/1 $ikeaFontKo;
				padding-bottom: 10vw;
			}

			form {
				table {
					width: 100%;
					height: 517px;
					padding: 30px 10px 20px;
					background: $tableBg;

					th,
					td {
						padding: 16px 0px;
						flex-wrap: wrap;
						display: flex;
					}

					th {
						font: bold 14.4px/1 $ikeaFontKo;
						transform: translate(0%, -14%);
						padding: 0px 1vw 0px;

						&:nth-of-type(1)::after {
							font: bold 12.6px/1 $ikeaFontKo;
						}
					}

					td {
						width: 100%;
					}

					p {
						width: 100%;
						font: 11.2px/1 $ikeaFontKo;

						&::before {
							margin-right: 5px;
						}
					}

					.checkIdBtn,
					.checkNickBtn {
						width: 30%;
						height: 32.8px;
						margin-left: 5px;
						font: 11.2px/1 $ikeaFontKo;
					}
					input[type='text'] {
						padding: 5px;
						width: 65%;
						height: 32.8px;
						margin-bottom: 10px;
						font: 12.6px/1 $ikeaFontKo;
					}

					.fa-eye {
						position: relative;
						right: 30px;
						top: 8px;
						color: $fontColorGr;
						cursor: pointer;
					}

					input[type='password'] {
						width: 65%;
						height: 32.8px;
						margin-bottom: 10px;
					}

					input[placeholder] {
						padding: 5px;
						width: 65%;
						height: 32.8px;
						font: 12.6px/1 $ikeaFontKo;
					}

					input[type='email'] {
						padding: 5px;
						width: 29%;
						height: 32.8px;
						font: 14.4px/1 $ikeaFontKo;
					}

					select {
						padding: 2px 5px;
						width: 30%;
						height: 32.8px;
						border-radius: 5px;
						font: 14.4px/1 $ikeaFontKo;
						transform: translate(0, -1%);
						margin-left: 5px;
					}
				}
			}
		}

		.info2 {
			margin-top: 150px;
			width: 100%;
			height: 517px;
			padding: 96px 5vw 96px;

			h2 {
				font: bold 19.6px/1 $ikeaFontKo;
				padding-bottom: 10vw;
			}

			form {
				table {
					width: 100%;
					height: 517px;
					padding: 30px 10px 20px;

					th,
					td {
						padding: 16px 0px;
						display: flex;
						flex-wrap: wrap;
					}

					td {
						width: 100%;
						font: 12.6px/1 $ikeaFontKo;
					}
					th {
						font: bold 14.4px/1 $ikeaFontKo;
						padding: 0px 1vw 0px;
					}

					span {
						font: 12.6px/1 $ikeaFontKo;
					}

					button {
						height: 32.8px;
						font: 11.2px/1 $ikeaFontKo;
					}
					input[type='text'] {
						padding: 5px;
						width: 100%;
						height: 32.8px;
						font: 12.6px/1 $ikeaFontKo;
					}

					textarea[placeholder] {
						padding: 5px;
						width: 100%;
						font: 12.6px/1 $ikeaFontKo;
						margin-bottom: 5px;
					}

					input[type='checkbox'] {
						margin-left: 10px;
						margin-bottom: 10px;
						margin-right: 7px;

						&:nth-of-type(1) {
							margin-left: 0;
						}
					}

					input[placeholder] {
						padding: 5px;
						width: 100%;
						height: 32.8px;
						font: 12.6px/1 $ikeaFontKo;
					}

					select {
						padding: 5px;
						width: 30%;
						height: 32.8px;
						font: 12.6px/1 $ikeaFont;
					}

					.addressBtn {
						transform: translateY(0px);
						height: 32.8px;
						font: 11.2px/1 $ikeaFontKo;
					}

					input[class='address'] {
						&:nth-of-type(1) {
							width: 40%;
							margin-right: 5px;
						}

						&:nth-of-type(2) {
							width: 100%;
						}

						&:nth-of-type(3) {
							width: 100%;
						}
						&:nth-of-type(4) {
							width: 50%;
							margin-right: 5px;
						}
						&:nth-of-type(5) {
							width: 48.5%;
						}
					}

					.addressTit {
						&::after {
							font: bold 12.6px/1 $ikeaFontKo;
						}
					}
				}
			}
		}

		.info3 {
			margin-top: 150px;
			padding: 206px 5vw 150px;

			h2 {
				font: bold 19.6px/1 $ikeaFontKo;
				padding-bottom: 10vw;
			}

			form {
				table {
					width: 100%;
					height: 193px;
					padding: 30px 10px 20px;

					th,
					td {
						padding: 0px 1vw 0px;
						display: flex;
						flex-wrap: wrap;
					}

					th {
						margin-bottom: 20px;
						font: bold 14.4px/1 $ikeaFontKo;
					}

					td {
						font: 12.6px/1 $ikeaFontKo;
						margin-bottom: 20px;
						margin-left: 5vw;

						input[type='radio'] {
							margin-right: 7px;
						}
					}
				}
			}
		}

		.btnSet {
			width: 85%;
			padding: 0px 10vw 0px;

			input {
				font: 12.8px/1 $ikeaFontKo;
				margin-right: 10px;
			}
		}
	}
}
