.gallery {
	background: rgb(252, 252, 243);

	.searchBarWrap {
		padding: 0px 0px 30px;
		margin-bottom: 96px;

		.searchBox {
			width: 100%;
			padding: 50px 10px 10px;
			display: flex;
			justify-content: center;
			gap: 10px;

			input {
				width: 600px;
				height: 60px;
				background: transparent;
				border: 1px solid $border;
				padding: 10px 30px;
				position: relative;
				font: 16px/70px $ikeaFontKo;
				color: $fontColorBl;

				&:focus {
					outline: none;
				}

				&::placeholder {
					font: 16px/70px $ikeaFontKo;
					color: $fontColorBl;
				}
			}

			.fa-magnifying-glass {
				font: bold 16px/70px $ikeaFontKo;
				color: #1877f2;
			}

			.btnSearch {
				width: 150px;
				height: 60px;
				border: 1px solid rgb(224, 110, 3);
				cursor: pointer;
				transition: 0.5s;
				background: none;
				font: 16px/50px $ikeaFontKo;
				color: rgb(224, 110, 3);

				&:hover {
					background: rgb(224, 110, 3);
					color: $fontColorW;
				}
			}
		}

		.btnSet {
			width: 760px;
			display: flex;
			margin: 10px auto;
			justify-content: left;
			gap: 10px;
			margin-bottom: 0px;

			.btnInterest {
				width: 170px;
				height: 50px;
				background: none;
				border: 1px solid $border;
				border-radius: 50px;
				font: 14px/50px $ikeaFontKo;
				color: $fontColorBl;
				cursor: pointer;

				.interestPlus {
					font: 14px/50px $ikeaFontKo;
					color: $fontColorBl;
					display: inline;
				}
			}

			.btnMine {
				width: 150px;
				height: 50px;
				background: none;
				border: 1px solid $border;
				border-radius: 50px;
				font: 14px/50px $ikeaFontKo;
				color: $fontColorBl;
				cursor: pointer;
			}
		}
	}

	.frame {
		opacity: 0;
		transform: translateY(200px);
		transition: 0.5s;
		padding: 0px 15vw 0px;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: calc(100% / 3);
			padding: 30px;
			float: left;

			.inner {
				width: 100%;
				height: 25%;
				border-top: 1px solid $border;
				padding-top: 50px;

				.topDescWrap {
					display: flex;
					justify-content: space-between;
					font: 14px/1 $ikeaFontKo;
					color: $fontColorBl;

					.categoryWrap {
						display: flex;
						gap: 10px;
						margin-bottom: 13px;

						p {
							font: 14px/1 $ikeaFontKo;
							color: $fontColorBl;

							&:nth-of-type(1) {
								color: $category;
							}
						}
					}
				}

				h2 {
					font: bold 20px/1 $ikeaFontKo;
					color: $fontColorBl;
					margin-bottom: 15px;
					cursor: pointer;
				}

				.profile {
					display: flex;
					align-items: center;
					gap: 15px;

					img {
						width: 30px;
					}
					span {
						cursor: pointer;
						font: 12px/40px $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 30px;
						transform: translateY(15px);
					}
				}

				.pic {
					width: 100%;

					img {
						width: 100%;
						cursor: pointer;
					}
				}
			}
		}
	}
	.frame.on {
		opacity: 1;
		transform: translateY(0px);
	}

	.loader {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: $tablet) {
	.gallery {
		.searchBarWrap {
			padding: 0px 0px 30px;
			margin-bottom: 96px;

			.searchBox {
				width: 100%;
				padding: 50px 10px 10px;
				display: flex;
				justify-content: center;
				gap: 10px;

				input {
					width: 600px;
					height: 60px;
					background: transparent;
					border: 1px solid $border;
					padding: 10px 30px;
					position: relative;
					font: 16px/70px $ikeaFontKo;
					color: $fontColorBl;

					&:focus {
						outline: none;
					}

					&::placeholder {
						font: 16px/70px $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.fa-magnifying-glass {
					font: bold 16px/70px $ikeaFontKo;
					color: #1877f2;
				}

				.btnSearch {
					width: 150px;
					height: 60px;
					border: 1px solid rgb(224, 110, 3);
					cursor: pointer;
					transition: 0.5s;
					background: none;
					font: 16px/50px $ikeaFontKo;
					color: rgb(224, 110, 3);

					&:hover {
						background: rgb(224, 110, 3);
						color: $fontColorW;
					}
				}
			}

			.btnSet {
				width: 760px;
				display: flex;
				margin: 10px auto;
				justify-content: left;
				gap: 10px;
				margin-bottom: 0px;

				.btnInterest {
					width: 170px;
					height: 50px;
					background: none;
					border: 1px solid $border;
					border-radius: 50px;
					font: 14px/50px $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;

					.interestPlus {
						font: 14px/50px $ikeaFontKo;
						color: $fontColorBl;
						display: inline;
					}
				}

				.btnMine {
					width: 150px;
					height: 50px;
					background: none;
					border: 1px solid $border;
					border-radius: 50px;
					font: 14px/50px $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;
				}
			}
		}
		.frame {
			padding: 0px 10vw 0px;
			article {
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.gallery {
		.searchBarWrap {
			padding: 0px 0px 30px;
			margin-bottom: 96px;

			.searchBox {
				width: 100%;
				padding: 50px 10px 10px;
				display: flex;
				justify-content: center;
				gap: 10px;

				input {
					width: 600px;
					height: 60px;
					background: transparent;
					border: 1px solid $border;
					padding: 10px 30px;
					position: relative;
					font: 16px/70px $ikeaFontKo;
					color: $fontColorBl;

					&:focus {
						outline: none;
					}

					&::placeholder {
						font: 16px/70px $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.fa-magnifying-glass {
					font: bold 16px/70px $ikeaFontKo;
					color: #1877f2;
				}

				.btnSearch {
					width: 150px;
					height: 60px;
					border: 1px solid rgb(224, 110, 3);
					cursor: pointer;
					transition: 0.5s;
					background: none;
					font: 16px/50px $ikeaFontKo;
					color: rgb(224, 110, 3);

					&:hover {
						background: rgb(224, 110, 3);
						color: $fontColorW;
					}
				}
			}

			.btnSet {
				width: 760px;
				display: flex;
				margin: 10px auto;
				justify-content: left;
				gap: 10px;
				margin-bottom: 0px;

				.btnInterest {
					width: 170px;
					height: 50px;
					background: none;
					border: 1px solid $border;
					border-radius: 50px;
					font: 14px/50px $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;

					.interestPlus {
						font: 14px/50px $ikeaFontKo;
						color: $fontColorBl;
						display: inline;
					}
				}

				.btnMine {
					width: 150px;
					height: 50px;
					background: none;
					border: 1px solid $border;
					border-radius: 50px;
					font: 14px/50px $ikeaFontKo;
					color: $fontColorBl;
					cursor: pointer;
				}
			}
		}
		.frame {
			padding: 0px 5vw 0px;
			article {
				width: 100%;
			}
		}
	}
}
