.member {
	> .inner {
		padding: 250px 0vw 150px;
		width: 100vw;
		min-height: calc(100vh - 400px);
		.membersBox {
			width: 100%;
			height: 754px;
			padding: 0px 15vw 0px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-bottom: 50px;

			&:nth-of-type(1) {
				width: 100%;
				height: 519px;
				display: flex;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 500;
					bottom: 0;
					left: 0;
					margin-left: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: -5;
					overflow: hidden;

					.colorBg {
						width: 500px;
						height: 500px;
						position: relative;
						background: #fedc01;
						z-index: 999;
						transform: translate(50%, 40%);
						opacity: 0.6;
						mix-blend-mode: darken;
					}
				}
			}

			&:nth-of-type(2) {
				width: 100%;
				height: 519px;
				display: flex;
				flex-direction: row-reverse;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;
					text-align: right;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 500;
					bottom: 0;
					right: 0;
					margin-right: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						text-align: right;
						margin-left: 10%;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: -5;
					overflow: hidden;

					.colorBg {
						width: 650px;
						height: 300px;
						position: relative;
						background: #fedc01;
						z-index: 999;
						transform: translate(15%, 40%);
						opacity: 0.6;
						mix-blend-mode: darken;
					}
				}
			}

			&:nth-of-type(3) {
				width: 100%;
				height: 519px;
				display: flex;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 500;
					bottom: 0;
					left: 0;
					margin-left: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: -5;
					overflow: hidden;

					.colorBg {
						width: 700px;
						height: 500px;
						position: relative;
						background: #fedc01;
						z-index: 999;
						transform: translate(30%, 40%);
						opacity: 0.6;
						mix-blend-mode: darken;
					}
				}
			}

			&:nth-of-type(4) {
				width: 100%;
				height: 519px;
				display: flex;
				flex-direction: row-reverse;
				margin-bottom: 150px;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;
					text-align: right;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 500;
					bottom: 0;
					right: 0;
					margin-right: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						text-align: right;
						margin-left: 10%;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					object-fit: cover;
					position: relative;
					z-index: -5;
					overflow: hidden;

					.colorBg {
						width: 600px;
						height: 500px;
						position: relative;
						background: #fedc01;
						z-index: 999;
						transform: translate(20%, 20%);
						opacity: 0.6;
						mix-blend-mode: darken;
					}
				}
			}
		}

		.titContainer {
			width: 100%;
			height: auto;
			padding: 150px 0vw 250px;
			margin-bottom: 96px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				position: relative;
				top: 3vw;
				font: 20px/1 $ikeaFontKo;
				color: $fontColorBl;
				text-align: center;
				z-index: 99;
				margin-bottom: 80px;
			}

			//Sign Up pagee title
			h2 {
				text-align: center;
				font: bold 150px/1 $ikeaFontKo;
				color: black;
				margin-bottom: 96px;
				margin: 0px auto;
				z-index: 99;
				position: relative;
			}

			img {
				top: 2vw;
				width: 100px;
				margin: 0px auto;
				height: 100px;
				position: relative;
				z-index: 99;
			}
		}

		.middleText {
			width: 100%;
			height: 300px;
			font: 25px/1.4 $ikeaFontKo;
			color: $fontColorBl;
			text-align: center;
			padding: 150px 15vw 0px;

			p {
				position: relative;
				z-index: 2;
				opacity: 0;
				animation: appearContents 5s ease-in-out;
				animation-fill-mode: forwards;
				animation-delay: 1s;
				transition: opacity 0.5s;

				@keyframes appearContents {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}

		.articleContainer {
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			padding: 50px 15vw 0px;
			margin-bottom: 150px;

			.sticky-container {
				display: flex;
				margin-bottom: 120px;
				position: relative;

				.col-2 {
					width: 50%;

					.tile {
						height: auto;
						margin-bottom: 40px;
						border-radius: 10px;
						text-transform: capitalize;
						align-items: center;
						text-align: left;
						display: flex;
						flex-direction: column;

						h3 {
							color: $fontColorBl;
							font: bold 30px/1 $ikeaFontKo;
							margin-bottom: 10px;
						}

						h2 {
							color: $fontColorBl;
							font: bold 40px/1 $ikeaFontKo;
							text-align: left;
							float: left;
							justify-content: left;
							position: absolute;
							left: 0;
							top: 0;
						}

						h4 {
							margin-top: 40px;
							color: $fontColorBl;
							font: 16px/1.5 $ikeaFontKo;
							margin-bottom: 10px;
							font-style: italic;
							padding-right: 250px;
						}

						p {
							margin-top: 10px;
							color: $fontColorBl;
							font: 16px/1.8 $ikeaFontKo;
							text-align: justify;
							word-break: break-all;
						}

						.articleImg {
							object-fit: cover;
							width: 100%;
							height: 90%;
						}

						.articleIcon {
							object-fit: contain;
							width: 200px;
							height: 200px;
							margin-bottom: 40px;
						}

						&.sticky {
							height: 400px;
							margin-bottom: 0px;
							position: sticky;
							top: 200px;
							color: rgb(31, 31, 31);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.member {
		> .inner {
			padding: 250px 0vw 150px;
			width: 100vw;
			min-height: calc(100vh - 400px);
			.membersBox {
				width: 100%;
				height: 754px;
				padding: 0px 5vw 0px;
				margin-bottom: 50px;

				&:nth-of-type(1) {
					width: 100%;
					height: 519px;
					display: flex;

					.membersName {
						flex: 1;
						height: 50px;
						padding: 180px 0px;

						h1 {
							font: bold 36px/1 $ikeaFontKo;
							margin-bottom: 15px;
						}

						h3 {
							font: 20px/1 $ikeaFontKo;
							color: $fontColorGrC;
							font-style: italic;
						}
					}

					.membersDesc {
						padding: 60px 0px 60px;
						width: 50%;
						height: 240px;
						margin-left: 5vw;

						p {
							width: 90%;
							font: 16px/1.5 $ikeaFontKo;
						}
					}

					.membersImg {
						flex: 2;
						width: calc(100% / 2);
						height: 100%;

						.colorBg {
							width: 500px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(50%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}

				&:nth-of-type(2) {
					width: 100%;
					height: 519px;
					display: flex;
					flex-direction: row-reverse;

					.membersName {
						height: 50px;
						padding: 180px 0px;

						h1 {
							font: bold 36px/1 $ikeaFontKo;
							margin-bottom: 15px;
						}

						h3 {
							font: 20px/1 $ikeaFontKo;
							font-style: italic;
						}
					}

					.membersDesc {
						padding: 60px 0px 60px;
						width: 50%;
						height: 240px;
						margin-right: 5vw;

						p {
							width: 90%;
							font: 16px/1.5 $ikeaFontKo;
							margin-left: 10%;
						}
					}

					.membersImg {
						flex: 2;
						width: calc(100% / 2);
						height: 100%;

						.colorBg {
							width: 650px;
							height: 300px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(15%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}

				&:nth-of-type(3) {
					width: 100%;
					height: 519px;

					.membersName {
						height: 50px;
						padding: 180px 0px;

						h1 {
							font: bold 36px/1 $ikeaFontKo;
							margin-bottom: 15px;
						}

						h3 {
							font: 20px/1 $ikeaFontKo;
							font-style: italic;
						}
					}

					.membersDesc {
						padding: 60px 0px 60px;
						width: 50%;
						height: 240px;
						margin-left: 5vw;

						p {
							width: 90%;
							font: 16px/1.5 $ikeaFontKo;
						}
					}

					.membersImg {
						flex: 2;
						width: calc(100% / 2);
						height: 100%;

						.colorBg {
							width: 700px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(30%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}

				&:nth-of-type(4) {
					width: 100%;
					height: 519px;
					display: flex;
					flex-direction: row-reverse;
					margin-bottom: 150px;

					.membersName {
						height: 50px;
						padding: 180px 0px;

						h1 {
							font: bold 36px/1 $ikeaFontKo;
							margin-bottom: 15px;
						}

						h3 {
							font: 20px/1 $ikeaFontKo;
							color: $fontColorGrC;
							font-style: italic;
						}
					}

					.membersDesc {
						padding: 60px 0px 60px;
						width: 50%;
						height: 240px;
						margin-right: 5vw;

						p {
							width: 90%;
							font: 16px/1.5 $ikeaFontKo;
							margin-left: 10%;
						}
					}

					.membersImg {
						flex: 2;
						width: calc(100% / 2);
						height: 100%;

						.colorBg {
							width: 600px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(20%, 20%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}
			}

			.titContainer {
				width: 100%;
				height: auto;
				padding: 150px 0vw 250px;
				margin-bottom: 96px;
				display: flex;
				flex-direction: column;
				justify-content: center;

				p {
					position: relative;
					top: 3vw;
					font: 20px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: center;
					z-index: 99;
					margin-bottom: 80px;
				}

				//Sign Up pagee title
				h2 {
					text-align: center;
					font: bold 150px/1 $ikeaFontKo;
					color: black;
					margin-bottom: 96px;
					margin: 0px auto;
					z-index: 99;
					position: relative;
				}

				img {
					top: 2vw;
					width: 100px;
					margin: 0px auto;
					height: 100px;
					position: relative;
					z-index: 99;
				}
			}

			.middleText {
				width: 100%;
				height: 300px;
				font: 25px/1.4 $ikeaFontKo;
				color: $fontColorBl;
				text-align: center;
				padding: 150px 15vw 0px;

				p {
					position: relative;
					z-index: 2;
					opacity: 0;
					animation: appearContents 5s ease-in-out;
					animation-fill-mode: forwards;
					animation-delay: 1s;
					transition: opacity 0.5s;

					@keyframes appearContents {
						0% {
							opacity: 0;
						}
						100% {
							opacity: 1;
						}
					}
				}
			}

			.articleContainer {
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				padding: 50px 5vw 0px;
				margin-bottom: 96px;

				.sticky-container {
					display: flex;
					margin-bottom: 120px;
					position: relative;

					.col-2 {
						width: 50%;

						.tile {
							height: auto;
							margin-bottom: 40px;
							border-radius: 10px;
							text-transform: capitalize;
							align-items: center;
							text-align: left;
							display: flex;
							flex-direction: column;

							h3 {
								color: $fontColorBl;
								font: bold 30px/1 $ikeaFontKo;
								margin-bottom: 10px;
								text-align: center;
							}

							h2 {
								color: $fontColorBl;
								font: bold 36px/1 $ikeaFontKo;
								text-align: left;
								float: left;
								justify-content: left;
								position: absolute;
								left: 0;
								top: 0;
							}

							h4 {
								margin-top: 40px;
								color: $fontColorBl;
								font: 16px/1.5 $ikeaFontKo;
								margin-bottom: 10px;
								font-style: italic;
								padding-right: 0px;
								padding-right: 10vw;
								text-align: justify;
								word-break: break-all;
							}

							p {
								margin-top: 10px;
								color: $fontColorBl;
								font: 16px/1.8 $ikeaFontKo;
								text-align: justify;
								word-break: break-all;
							}

							.articleImg {
								object-fit: cover;
								width: 100%;
								height: 90%;
							}

							.articleIcon {
								object-fit: contain;
								width: 200px;
								height: 200px;
								margin-bottom: 40px;
							}

							&.sticky {
								height: 400px;
								margin-bottom: 0px;
								position: sticky;
								top: 200px;
								color: rgb(31, 31, 31);
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.member {
		> .inner {
			padding: 250px 0vw 150px;
			width: 100vw;
			min-height: calc(100vh - 400px);
			.membersBox {
				width: 100%;
				height: auto;
				padding: 0px 5vw 0px;
				margin-bottom: 50px;

				&:nth-of-type(1) {
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: column-reverse;

					.membersName {
						order: 2;
						flex: 1;
						width: 100%;
						flex-direction: column;
						height: 50px;
						padding: 40px 0px;

						h1 {
							font: bold 24px/1 $ikeaFontKo;
							margin-bottom: 10px;
						}

						h3 {
							font: 14.4px/1 $ikeaFontKo;
							color: $fontColorGrC;
						}
					}

					.membersDesc {
						order: 3;
						padding: 35px 5vw 35px;
						width: 100%;
						height: 170px;
						margin-left: 0vw;

						p {
							width: 100%;
							font: 14.4px/1.5 $ikeaFontKo;
						}
					}

					.membersImg {
						order: 1;
						flex: 1;
						background: yellow;
						width: 100%;
						height: 100%;
						background-position: bottom;
						background-repeat: no-repeat;
						background-size: cover;

						.colorBg {
							width: 500px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(50%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}

				&:nth-of-type(2) {
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: column-reverse;

					.membersName {
						order: 2;
						flex: 1;
						width: 100%;
						flex-direction: column;
						height: 50px;
						padding: 40px 0px;

						h1 {
							font: bold 24px/1 $ikeaFontKo;
							margin-bottom: 10px;
						}

						h3 {
							font: 14.4px/1 $ikeaFontKo;
							color: $fontColorGrC;
						}
					}

					.membersDesc {
						order: 3;
						padding: 35px 0vw 35px;
						width: 100%;
						height: 170px;

						p {
							width: 90%;
							font: 14.4px/1.5 $ikeaFontKo;
							text-align: justify;
							word-break: break-all;
						}
					}

					.membersImg {
						order: 1;
						flex: 1;
						background: yellow;
						width: 100%;
						height: 100%;
						background-position: bottom;
						background-repeat: no-repeat;
						background-size: cover;

						.colorBg {
							width: 500px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(50%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}

				&:nth-of-type(3) {
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: column-reverse;

					.membersName {
						order: 2;
						flex: 1;
						width: 100%;
						flex-direction: column;
						height: 50px;
						padding: 40px 0px;

						h1 {
							font: bold 24px/1 $ikeaFontKo;
							margin-bottom: 10px;
						}

						h3 {
							font: 14.4px/1 $ikeaFontKo;
							color: $fontColorGrC;
						}
					}

					.membersDesc {
						order: 3;
						padding: 35px 5vw 35px;
						width: 100%;
						height: 170px;
						margin-left: 0vw;

						p {
							width: 100%;
							font: 14.4px/1.5 $ikeaFontKo;
						}
					}

					.membersImg {
						order: 1;
						flex: 1;
						background: yellow;
						width: 100%;
						height: 100%;
						background-position: bottom;
						background-repeat: no-repeat;
						background-size: cover;

						.colorBg {
							width: 500px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(50%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}

				&:nth-of-type(4) {
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: column-reverse;
					margin-bottom: 50px;

					.membersName {
						order: 2;
						flex: 1;
						width: 100%;
						flex-direction: column;
						height: 50px;
						padding: 40px 0px;

						h1 {
							font: bold 24px/1 $ikeaFontKo;
							margin-bottom: 10px;
						}

						h3 {
							font: 14.4px/1 $ikeaFontKo;
							color: $fontColorGrC;
						}
					}

					.membersDesc {
						order: 3;
						padding: 35px 0vw 35px;
						width: 100%;
						height: 170px;

						p {
							width: 90%;
							font: 14.4px/1.5 $ikeaFontKo;
							text-align: justify;
							word-break: break-all;
						}
					}

					.membersImg {
						order: 1;
						flex: 1;
						background: yellow;
						width: 100%;
						height: 100%;
						background-position: bottom;
						background-repeat: no-repeat;
						background-size: cover;

						.colorBg {
							width: 500px;
							height: 500px;
							position: relative;
							background: #fedc01;
							z-index: 999;
							transform: translate(50%, 40%);
							opacity: 0.6;
							mix-blend-mode: darken;
						}
					}
				}
			}

			.titContainer {
				width: 100%;
				height: auto;
				padding: 250px 0vw 250px;
				margin-bottom: 96px;

				p {
					top: 3vw;
					font: 16px/1 $ikeaFontKo;
				}

				img {
					top: 2vw;
					width: 100px;
					margin: 0px auto;
					height: 95px;
				}

				//Sign Up pagee title
				h1 {
					font: bold 210px/1 $ikeaFontKo;
				}
			}

			.middleText {
				width: 100%;
				height: 300px;
				padding: 70px 5vw 0px;

				p {
					font: 20px/1.4 $ikeaFontKo;
				}
			}

			.articleContainer {
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				padding: 50px 5vw 0px;
				margin-bottom: 0px;

				.sticky-container {
					display: block;
					margin-bottom: 120px;
					position: relative;

					.col-2 {
						width: 100%;

						.tile {
							width: 100%;
							height: auto;
							margin-bottom: 40px;
							border-radius: 10px;
							text-transform: capitalize;
							align-items: center;
							text-align: left;
							display: flex;
							flex-direction: column;

							h3 {
								color: $fontColorBl;
								font: bold 30px/1 $ikeaFontKo;
								margin-bottom: 10px;
								text-align: center;
							}

							h2 {
								color: $fontColorBl;
								font: bold 36px/1 $ikeaFontKo;
								text-align: left;
								float: left;
								justify-content: left;
								position: absolute;
								left: 0;
								top: 0;
							}

							h4 {
								margin-top: 40px;
								color: $fontColorBl;
								font: 16px/1.5 $ikeaFontKo;
								margin-bottom: 10px;
								font-style: italic;
								padding-right: 0px;
								padding-right: 10vw;
								text-align: justify;
								word-break: break-all;
							}

							p {
								margin-top: 10px;
								color: $fontColorBl;
								font: 16px/1.8 $ikeaFontKo;
								text-align: justify;
								word-break: break-all;
							}

							.articleImg {
								object-fit: cover;
								width: 100%;
								height: 90%;
							}

							.articleIcon {
								object-fit: contain;
								width: 200px;
								height: 200px;
								margin-bottom: 40px;
							}

							&.sticky {
								height: 400px;
								margin-bottom: 0px;
								position: sticky;
								top: 200px;
								color: rgb(31, 31, 31);
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
