.member {
	> .inner {
		padding: 250px 0vw 150px;
		.membersBox {
			width: 100%;
			height: 754px;
			padding: 0px 15vw 0px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-bottom: 50px;

			&:nth-of-type(1) {
				width: 100%;
				height: 519px;
				display: flex;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 44;
					bottom: 0;
					left: 0;
					margin-left: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					position: relative;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						filter: grayscale(100);
						transition: filter 0.5s;

						&:hover {
							filter: grayscale(0);
						}
					}
				}
			}

			&:nth-of-type(2) {
				width: 100%;
				height: 519px;
				display: flex;
				flex-direction: row-reverse;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;
					text-align: right;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 44;
					bottom: 0;
					right: 0;
					margin-right: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						text-align: right;
						margin-left: 10%;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					position: relative;

					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						filter: grayscale(100);
						transition: filter 0.5s;

						&:hover {
							filter: grayscale(0);
						}
					}
				}
			}

			&:nth-of-type(3) {
				width: 100%;
				height: 519px;
				display: flex;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 44;
					bottom: 0;
					left: 0;
					margin-left: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					position: relative;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						filter: grayscale(100);
						transition: filter 0.5s;

						&:hover {
							filter: grayscale(0);
						}
					}
				}
			}

			&:nth-of-type(4) {
				width: 100%;
				height: 519px;
				display: flex;
				flex-direction: row-reverse;
				margin-bottom: 150px;

				.membersName {
					flex: 1;
					height: 50px;
					padding: 180px 0px;
					text-align: right;

					h1 {
						font: bold 40px/1 $ikeaFontKo;
						color: $fontColorBl;
						margin-bottom: 20px;
					}

					h3 {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorGrC;
						font-style: italic;
					}
				}

				.membersDesc {
					font: 18px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
					padding: 60px 0px 60px;
					width: 35%;
					height: 240px;
					background: rgb(255, 255, 255);
					position: absolute;
					z-index: 44;
					bottom: 0;
					right: 0;
					margin-right: 15vw;

					p {
						width: 90%;
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						text-align: right;
						margin-left: 10%;
					}
				}

				.membersImg {
					flex: 2;
					width: calc(100% / 2);
					height: 100%;
					position: relative;
					z-index: 1;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						filter: grayscale(100);
						transition: filter 0.5s;

						&:hover {
							filter: grayscale(0);
						}
					}
				}
			}
		}

		.rellaxContainer {
			.rellaxWrap {
				width: 100%;
				height: auto;
				padding: 150px 0vw 350px;
				margin-bottom: 96px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 10vh;

				p {
					position: relative;
					top: 2vw;
					font: 20px/1 $ikeaFontKo;
					color: $fontColorBl;
					text-align: center;
					z-index: 99;
					margin-bottom: 50px;
				}

				h1 {
					text-align: center;
					font: 200px/1 $ikeaFontKo;
					color: $fontColorBl;
					margin-bottom: 96px;
					margin: 0px auto;
					z-index: 99;
					position: relative;
					animation: textBig 3s ease-in-out;
					animation-fill-mode: forwards;
					animation-delay: 1s;

					@keyframes textBig {
						0% {
							transform: scale(1);
						}
						100% {
							transform: scale(0.9);
						}
					}
				}

				img {
					top: 2vw;
					width: 100px;
					margin: 0px auto;
					height: 100px;
					position: relative;
					z-index: 99;
				}

				.round {
					display: flex;
					justify-content: center;
					position: absolute;

					.rellax {
						background: #ffffff;
						border-radius: 50%;
						background: rgba(255, 255, 255, 0.7);
						margin-left: 20px;

						&:nth-child(1) {
							display: none;
						}

						&:nth-child(2) {
							width: 80px;
							height: 80px;
							background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
							margin-top: 80vh;
						}

						&:nth-child(3) {
							width: 160px;
							height: 160px;
							background: rgba(249, 229, 76, 0.8);
							background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
							margin-top: 170px;
							margin-right: -2vw;
						}

						&:nth-child(4) {
							display: none;
						}

						&:nth-child(5) {
							width: 100px;
							height: 100px;
							background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
							margin-top: 100vh;
						}

						&:nth-child(6) {
							width: 40px;
							height: 40px;
							background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
							margin-top: 20vh;
						}

						&:nth-child(7) {
							width: 220px;
							height: 220px;
							background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
							margin-top: 40vh;
						}

						&:nth-child(8) {
							width: 120px;
							height: 120px;
							background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
							background-blend-mode: multiply, multiply;
							margin-top: 5vh;
							margin-left: 12vw;
							z-index: 55;
						}

						&:nth-child(9) {
							width: 30px;
							height: 30px;
							background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
							margin-top: 60vh;
						}

						&:nth-child(10) {
							width: 200px;
							height: 200px;
							background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
							background-blend-mode: multiply, multiply;
							margin-top: 90vh;
							margin-left: 22vw;
							z-index: 55;
						}
					}
				}
			}
		}

		.published {
			display: flex;
			position: absolute;
			padding: 0px 15vw 0px;
			width: 100%;

			h2 {
				font: 50px/1.2 $ikeaFontKo;
				color: $fontColorGr;
				z-index: 888;
				position: relative;
				letter-spacing: -1px;
			}

			h3 {
				font: 70px/1.5 $ikeaFontKo;
				z-index: -1;
				position: relative;
				opacity: 0.5;
				color: #ccd3d7;
				letter-spacing: -1px;
			}

			p {
				font: 70px/1 $ikeaFontKo;
				z-index: -1;
				position: absolute;
				color: #ccd3d7;
				letter-spacing: -2px;
				right: 10vw;
				margin-top: 60vh;
				padding-right: 5vw;
			}
		}

		.middleText {
			width: 100%;
			height: 300px;

			font: 25px/1.4 $ikeaFontKo;
			color: $fontColorBl;
			text-align: center;
			padding: 200px 15vw 0px;

			p {
				position: relative;
				z-index: 2;
				opacity: 0;
				animation: appearContents 5s ease-in-out;
				animation-fill-mode: forwards;
				animation-delay: 1s;
				transition: opacity 0.5s;

				@keyframes appearContents {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}

		.articleContainer {
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			padding: 50px 15vw 0px;
			margin-bottom: 150px;

			.sticky-container {
				display: flex;
				margin-bottom: 120px;
				position: relative;

				.col-2 {
					width: 50%;

					.tile {
						height: auto;
						margin-bottom: 40px;
						border-radius: 10px;
						text-transform: capitalize;
						align-items: center;
						text-align: left;
						display: flex;
						flex-direction: column;

						h3 {
							color: $fontColorBl;
							font: bold 30px/1 $ikeaFontKo;
							margin-bottom: 10px;
						}

						h2 {
							color: $fontColorBl;
							font: bold 40px/1 $ikeaFontKo;
							text-align: left;
							float: left;
							justify-content: left;
							position: absolute;
							left: 0;
							top: 0;
						}

						h4 {
							margin-top: 40px;
							color: $fontColorBl;
							font: 16px/1.5 $ikeaFontKo;
							margin-bottom: 10px;
							font-style: italic;
							padding-right: 250px;
						}

						p {
							margin-top: 10px;
							color: $fontColorBl;
							font: 16px/1.8 $ikeaFontKo;
							text-align: justify;
							word-break: break-all;
						}

						.articleImg {
							object-fit: cover;
							width: 100%;
							height: 90%;
						}

						.articleIcon {
							object-fit: cover;
							width: 200px;
							height: 200px;
							margin-bottom: 40px;
						}

						&.sticky {
							height: 400px;
							margin-bottom: 0px;
							position: sticky;
							top: 200px;
							color: rgb(31, 31, 31);
						}
					}
				}
			}
		}
	}
}
